/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Hack;
}

body {
  padding-top: 70px !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: dodgerblue;
  text-align: center;
  line-height: 70px;
  font-size: 16px;
}

.app-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-navbar ul li {
  margin: 0 15px;
}

.app-navbar ul li a {
  color: #fff;
  font-weight: bold;
}

section.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  flex-basis: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form input,
form textarea {
  flex-basis: 100%;
  margin: 25px 0;
}

textarea,
input {
  padding: 5px 15px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  resize: none;
}

button {
  padding: 15px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main ol {
  flex-basis: 70%;
}

main ol li {
  padding: 15px;
  margin: 15px 0;
  border: 1px solid #ccc;
}

main ol li p {
  margin: 10px 0 15px;
}

.todos-actions a,
.todos-actions span {
  cursor: pointer;
  margin: 0 5px;
  color: blue !important;
}
